<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Pesan dari {shop_name}</title>
</head>
<body>
<table style="font-family: Verdana,sans-serif; font-size: 11px; color: #374953; width: 550px;">
<tbody>
<tr>
<td align="left"><a title="{shop_name}" href="{shop_url}"><img style="border: none;" src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Hi <strong style="color: {color};">{firstname} {lastname}</strong>,</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="background-color: {color}; color: #fff; font-size: 12px; font-weight: bold; padding: 0.5em 1em;" align="left">Pesanan Anda dengan referensi {order_name} - Awaiting wire payment</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Terima kasih telah berbelanja di {shop_name}!<br /><br /> Pesanan Anda dengan referensi {order_name} telah ditempatkan dengan berhasil dan akan <strong>secepatnya setelah kami menerima pembayaran Anda</strong>.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">

    <p>
        Mohon transfer dengan rincian:<br>
        - Jumlah: <span class="price"> <strong>{total_to_pay}</strong></span><br>
        - Nama pemilik rekening:  <strong>{nama_owner}</strong><br>
        - Nomor Rekening: <br> <strong>{no_rekening}</strong>
    </p>



</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Anda dapat melihat pesanan Anda dan mendownload invoice Anda melalui bagian <a style="color: {color}; font-weight: bold; text-decoration: none;" href="{history_url}">"Order history"</a> dari akun pelanggan Anda dengan megklik <a style="color: {color}; font-weight: bold; text-decoration: none;" href="{my_account_url}">"My account"</a> pada toko kami.<br /><br /></td>
</tr>
<tr>
<td align="left">Jika Anda memiliki akun tamu, Anda dapat mengikuti pesanan Anda melalui bagian <a style="color: {color}; font-weight: bold; text-decoration: none;" href="{guest_tracking_url}">"Guest Tracking"</a> pada toko kami.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="font-size: 10px; border-top: 1px solid #D9DADE;" align="center"><a style="color: {color}; font-weight: bold; text-decoration: none;" href="{shop_url}">{shop_name}</a> powered by <a style="text-decoration: none; color: #374953;" href="http://www.prestashop.com/">PrestaShop&trade;</a></td>
</tr>
</tbody>
</table>
</body>
</html>